<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Restaurant KEA</h1>
    <nav>
        <a href="home.html">Home</a>
        <a href="menu.html">Menu</a>
        <a href="contact">Contact</a>
    </nav>
    <p>Guldbergsgade 29</p>
    <p>2200 Copenhagen</p>

    <p>Phone no: <a href="/">20 80 53 70</a></p>
    <p>Email: <a href="/">info@restaurantkea.dk</a></p>
    
    <img src="../img/map.jpg" width="400" height="250">
    <h4>Contact form</h4>
    <form>
        <label>Full name</label>
        <input type="text">
        <br>
        <label>Phone no.</label>
        <input type="text">
        <br>
        <label>E-mail</label>
        <input type="text">
        <br>
        <label>Persons</label>
        <input type="number">
        <br>
        <label>Date and time</label>
        <input type="datetime">
        <br>
        <label>Further information</label>
        <textarea></textarea>
        <br>
        <br>
        <input type="submit" value="Send">
    </form>
</body>
</html>