<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Tax calculator</title>
</head>
<body>
    <header>
        <h1>Tax calculator</h1>
    </header>
    <main>
        <form>
            <div>
                <label for="amount">Monetary amount</label>
                <input type="number" id="amount" value=0 required pattern="[0-9]" step="0.01" min="0">   
            </div>
            <div>
                <label for="tax">Tax percentage</label>
                <input type="number" id="tax" value=0 required pattern="[0-9]" step="0.01" min="0" max="100">  
            </div>

            <button id="btnCalculate">Calculate</button>
        </form>
        <blockquote>
            <p class="quote">Tax amount: <span id="taxAmount">0</span></p>
            <p class="quote">Final amount: <span id="finalAmount">0</span></p>
        </blockquote>
    </main>
    <footer>&copy; 2021 Amalia Caldare</footer>
    <script type="text/javascript" src="../index.js" defer></script>
</body>
</html>