:root {
    --fontHeader: Rubik, sans-serif;
    --fontNav: Verdana, Geneva, Tahoma, sans-serif;

    --colorSearch: #000000;
    --colorBgHeader: #f3ca20;
    --colorText: white;
    --colorElements: #F0F8FF
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--colorBgHeader);
    font-family: var(--fontHeader);
    text-indent: 1rem;
    line-height: 4rem;
    width: 100%;
}
.wrapper {
    height: 5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: var(--fontNav);
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}

.dropdown {
    width: 200px;
    background-color: #f9f9f9;
    border:none;
    outline: none;
    color: #363636;
    padding: 0 8px;
    cursor: pointer;
    flex: 0 1 100%;
}
.wrapper:not(:first-child) {
    flex: 1 0 50%
}

.search {
    background-color: var(--colorSearch);
    color: white;
    padding: 0px 12px;
    border: none;
    outline: none;
    flex: 1;
}

@media only screen and (min-width: 480px) {
    .wrapper {
        display: flex;
        flex-wrap: nowrap;
        height: 2.25rem;
    }
}

@media only screen and (min-width: 600px) {
    .wrapper {
        display: flex;
        flex-wrap: nowrap;
        height: 3.25rem;
    }

    .search {
        width: 50px
    }

    .dropdown {
        flex: 0 0 auto;
    }
}

::-webkit-input-placeholder  { 
    color: var(--colorText);
}


.submit {
    background-color: var(--colorBgHeader);
    color: black;
    border: none;
    padding: 0 8px;
    cursor: pointer;
}

.clear {
    background-color: var(--colorSearch);
    color:white;
    padding: 0px 12px;
    border: none;
    outline: none;
    cursor: pointer;
}


.flex-box {
    display: flex;
    flex-direction: column;
}

.element:nth-child(odd) {
    background-color: var(--colorElements);
}

.element {
    padding: 12px;
    transition: background-color 0.2s;
}

.element:hover {
    background-color: #f4f4f4;
}

.title {
    font-size: 22px;
}

.year {
    font-size: 12px;
    font-weight: 600;
}

.language span{
    font-size: 12px;
    font-weight: 600;
}

#modalMovie, #modalPerson {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 50px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: scroll;
    background-color: rgba(0,0,0,0.7);
}

.modal-movie, .modal-person {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    width: 300px;

    /* changes here for height and overflow: ; */
}

@media only screen and (min-width: 480px) {
    .modal-movie, .modal-person  {
        width: 600px;
    }
}

.movie-details, .person-details {
    border: 2px solid black;
    background-color: var(--colorElements);
}

.modal-movie span:not(#overview), .modal-person span:not(#biography) {
    font-size: 15px;
    font-weight: 600;
}


.closeMovie, .closePerson {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeMovie:hover,
.closeMovie:focus, .closePerson:hover,
.closePerson:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#overview, #biography {
    font-style: italic;
    font-size: 15px;
}

#homepage {
    text-decoration: none;
    font-weight: bold;
    color: #5799ef;
}
#homepage:hover {
    text-decoration: underline;
}

.crew {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--colorElements);
    border: 2px solid black;
}
.cast, .movies {
    background-color: var(--colorElements);
    border: 2px solid black;
    height: 150px;
    overflow: scroll;
}

@media only screen and (min-width: 480px) {
    .cast, .movies  {
        height: 300px;
    }
}

.movies {
    margin-top: 1rem;
}
ul {
    text-align: center;
    list-style: none;
}

/* .box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

 .box > div {
     margin-top: 1rem;
     border: 2px solid black;
     text-align: center;
     height: fit-content;
     width: 100%;
} */


/* .credits :nth-child(odd) {
    background-color: #f9f9f9;
} */

/* #actors {
        height: 200px;
        overflow: scroll;
} */
